@import './base.css';

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  transition:
      color 0.5s,
      background-color 0.5s;
  background: #002b51;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

/*body, p, span {*/
/*  font-size: 1.4rem;*/
/*}*/

#app {
  font-weight: normal;
}
