@import './base.css';

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  transition:
      color 0.5s,
      background-color 0.5s;
  background: #002b51;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

#app {
  font-weight: normal;
}

.dropzone-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  border: 2px dashed #007bff;
  border-radius: 10px;
  background: #f4f4f4;
}

.drop-overlay {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 123, 255, 0.2);
  color: var(--color-white);
  font-size: 24px;
  font-weight: bold;
}
